.app {
    text-align: center;
    padding: 5px;
}

.input {
    display: inline;
}


.form-control {
    width: 10%;
}

div {
    color: white;
    font-size: 19px;
}

button {
    background-color: blue;
}


.artist-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

img:hover {
    opacity: 0.5;
}