.app {
    text-align: center;
    padding: 5px;
}

.input {
    display: inline;
}


.form-control {
    width: 10%;
}

div {
    color: white;
    font-size: 19px;
}

button {
    background-color: blue;
}


.artist-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

img:hover {
    opacity: 0.5;
}



figcaption {
    text-align: center;
    background-color: white;
    color: black;
    opacity: 0.75;
    width: 92%;
    margin-left: 13px;
}

/*.track-play {
    position: absolute;
    width: 220px;
    height: 220px;
}

.track-inner {
    position: absolute;
    text-align: center;
    font-size: 25px;
    margin-left: 80px;
    margin-top: 80px;
    padding-top: 13px;
    width: 60px;
    height: 60px;
    color: white;
    background-color: black;
    border-radius: 30%;
    opacity: 0;
}*/

.track-play i {
    font-size: 50px;
}
